<app-header></app-header>
<main class="pagina-butacas">

    <section class="seccion-butacas">

        <div class="pantalla-cine">
            <span>PANTALLA</span>
        </div>


        <div class="mapa-butacas">

            @for (fila of matrizButacas(); track fila){

            <div class="fila">

                @for (bloque of fila; track bloque){

                <div class="bloque">

                    @for (butaca of bloque; track butaca){

                    @switch (butaca.tipo){

                    @case ('comun'){
                    <div
                        class="butaca butaca-comun"
                        [class.seleccionada]="estaSeleccionada(butaca)"
                        (click)="alternarButaca(butaca)">

                        <p>{{ butaca.fila }}{{ butaca.numero }}</p>

                    </div>
                    }

                    @case ('discapacitado'){
                    <div
                        class="butaca butaca-discapacitado"
                        [class.seleccionada]="estaSeleccionada(butaca)"
                        (click)="alternarButaca(butaca)">

                        <p>{{ butaca.fila }}{{ butaca.numero }}</p>

                    </div>
                    }

                    @case ('vip'){
                    <div
                        class="butaca butaca-vip"
                        [class.seleccionada]="estaSeleccionada(butaca)"
                        (click)="alternarButaca(butaca)">

                        <p>{{ butaca.fila }}{{ butaca.numero }}</p>

                    </div>
                    }

                    }

                    }

                </div>

                }

            </div>

            }

        </div>

    </section>


    <section class="informacion-seleccion">

        <p>
            Cantidad de entradas seleccionadas:
            <strong>{{ compraService.cantidadEntradas() }}</strong>
        </p>

        <!-- <p>Cantidad de butacas que ya seleccionó {{ butacasSeleccionadas().length }}</p> -->

        <p>
            Butacas restantes a seleccionar:
            <strong>{{ butacasRestantesAseleccionar() }}</strong>
        </p>

    </section>


    <section class="guia">

        <div class="guia-butaca">

            <div class="butaca butaca-comun"></div>

            <p>
                Butaca convencional
                {{ compraService.calcularPrecioButaca('comun') | currency:'ARS' }}
            </p>

        </div>


        <div class="guia-butaca">

            <div class="butaca butaca-vip"></div>

            <p>
                Butaca VIP
                {{ compraService.calcularPrecioButaca('vip') | currency:'ARS' }}
            </p>

        </div>


        <div class="guia-butaca">

            <div class="butaca butaca-discapacitado"></div>

            <p>
                Butaca discapacitado
                {{ compraService.calcularPrecioButaca('discapacitado') | currency:'ARS' }}
            </p>

        </div>

    </section>


    <div class="contenedor-siguiente">

        <button
            class="boton-siguiente"
            (click)="navegarHaciaCandy()">
            Siguiente
        </button>

    </div>

</main>