<header class="navbar">

    <div class="navbar-contenido">

        <a class="navbar-logo" routerLink="/principal">
            <img src="assets/img/logo.png" alt="Cine Santy">
        </a>

        <nav class="navbar-principal">
            <a class="navbar-link" routerLink="/principal" routerLinkActive="active">
                Cartelera
            </a>




            <a *appRole="'admin'" class="navbar-link" routerLink="/admin/candy" routerLinkActive="active">
                Admin Candy
            </a>

            <a *appRole="'admin'" class="navbar-link" routerLink="/admin/peliculas" routerLinkActive="active">
                Admin Peliculas
            </a>

            <a *appRole="'admin'" class="navbar-link" routerLink="/admin/roles" routerLinkActive="active">
                Admin Roles
            </a>

            <a *appRole="'admin'" class="navbar-link" routerLink="/admin/cupones" routerLinkActive="active">
                Admin Cupones
            </a>

            <a *appRole="'admin'" class="navbar-link" routerLink="/admin/reportes" routerLinkActive="active">
                Admin Reportes
            </a>
            <a *appRole="'admin'" class="navbar-link" routerLink="/admin/scanner" routerLinkActive="active">
                Admin Scanner
            </a>
            <a *appRole="'admin'" class="navbar-link" routerLink="/admin/salas" routerLinkActive="active">
                Admin Salas
            </a>
            <a *appRole="'empleado'" class="navbar-link" routerLink="/admin/scanner" routerLinkActive="active">
                Scanner
            </a>

        </nav>

        <nav class="navbar-usuario">
            @if (authService.currentUser()) {
            <a class="navbar-link" routerLink="/perfil" routerLinkActive="active">
                Mi perfil
            </a>

            <button class="boton-cerrar-sesion" (click)="logout()">
                Cerrar sesión
            </button>
            } @else {
            <a class="navbar-link" routerLink="/login" routerLinkActive="active">
                Iniciar sesión
            </a>
            }
        </nav>

    </div>

</header>