<app-header></app-header>

<main class="pagina-principal">

    <section class="seccion-peliculas">

        <div class="contenedor-peliculas contenedor-proximamente">

            <h1>Proximamente</h1>

            <div class="contenedor-cards proximamente-cards">

                @for (pelicula of listaPeliculasProximamente(); track pelicula.id_pelicula) {
                <app-card-pelicula [pelicula]="pelicula" [leyendaPreventa]="true">
                </app-card-pelicula>
                }

            </div>

        </div>

    </section>


    <section class="seccion-peliculas seccion-catalogo">

        <div class="contenedor-peliculas">

            <h1>Las más vendidas del mes</h1>

            <div class="contenedor-cards">

                @for (pelicula of listaPeliculasMasVendidas(); track pelicula.id_pelicula) {
                <app-card-pelicula [pelicula]="pelicula" [leyendaPreventa]="esProximamente(pelicula)">
                </app-card-pelicula>
                }

            </div>

        </div>

    </section>


    <section class="seccion-peliculas seccion-catalogo">

        <div class="contenedor-peliculas">

            <h1>Catálogo General</h1>

            <div class="contenedor-filtros">

                <input class="buscador" type="text" placeholder="Buscar pelicula..." [value]="terminosBusqueda()"
                    (input)="terminosBusqueda.set($any($event.target).value)">

                <div class="filtros-generos">

                    @for (genero of listaGeneros(); track genero.id_genero) {

                    <label class="filtro-genero">

                        <input type="checkbox" (change)="alternarGenero(genero.id_genero)">

                        {{ genero.nombre_genero }}

                    </label>

                    }

                </div>

            </div>

            <div class="contenedor-cards">

                @for (pelicula of listaPeliculasCatalogoGeneral(); track pelicula.id_pelicula) {

                <app-card-pelicula [pelicula]="pelicula">
                </app-card-pelicula>

                } @empty {

                <p class="mensaje-vacio">No hay películas disponibles.</p>

                }

            </div>

        </div>

    </section>

</main>

<app-footer></app-footer>