<app-header></app-header>
<main class="pagina-candy">

    <section class="seccion-candy">

        <h1 class="titulo-candy">¿Querés agregar algo?</h1>
        <p>Elegí tus productos favoritos para disfrutar durante la función.</p>

        @for (categoria of categoriasConProductosCargados(); track categoria){

        <div class="categoria-candy">

            <h2>{{ categoria }}</h2>

            <div class="contenedor-productos-candy">

                @for (producto of obtenerProductosDeCategoriaEspecifica(categoria); track producto.id_producto_candy) {

                <app-card-producto-candy (outputModificarCarrito)="modificarCarrito($event)" [productoCandy]="producto">
                </app-card-producto-candy>

                }

            </div>

        </div>

        }


        <div class="contenedor-siguiente">

            <button class="boton-siguiente" (click)="navegarHaciaPago()">
                Siguiente
            </button>

        </div>

    </section>

</main>
<app-footer></app-footer>