<form [formGroup]="datosCompraForm" (ngSubmit)="onSubmit()">

    <label for="nombre">Nombre *</label>
    <input type="text" id="nombre" formControlName="nombre" placeholder="Ingrese su nombre">

    @if (formularioControles.nombre.touched && formularioControles.nombre.invalid) {
    <div>
        @if (formularioControles.nombre.hasError('required')) {
        <small>El nombre es obligatorio</small>
        }
        @if (formularioControles.nombre.hasError('minlength')) {
        <small>Mínimo 3 caracteres</small>
        }
        @if (formularioControles.nombre.hasError('maxlength')) {
        <small>Máximo 50 caracteres</small>
        }
    </div>
    }

    <label for="apellido">Apellido *</label>
    <input type="text" id="apellido" formControlName="apellido" placeholder="Ingrese su apellido">
    @if (formularioControles.apellido.touched && formularioControles.apellido.invalid) {
    <div>
        @if (formularioControles.apellido.hasError('required')) {
        <small>El apellido es obligatorio</small>
        }
        @if (formularioControles.apellido.hasError('minlength')) {
        <small>Mínimo 3 caracteres</small>
        }
        @if (formularioControles.apellido.hasError('maxlength')) {
        <small>Máximo 20 caracteres</small>
        }
    </div>
    }

    <label for="email">Email *</label>
    <input type="email" id="email" formControlName="email" placeholder="ejemplo@mail.com">
    @if (formularioControles.email.touched && formularioControles.email.invalid) {
    <div>
        @if (formularioControles.email.hasError('required')) {
        <small>El email es obligatorio</small>
        }
        @if (formularioControles.email.hasError('email')) {
        <small>Ingrese un email válido</small>
        }
    </div>
    }

    <label for="fechaDeNacimiento">Fecha de nacimiento (DD/MM/AAAA) *</label>
    <input type="text" id="fechaDeNacimiento" formControlName="fechaDeNacimiento" placeholder="15/03/1990">
    @if (formularioControles.fechaDeNacimiento.touched && formularioControles.fechaDeNacimiento.invalid) {
    <div>
        @if (formularioControles.fechaDeNacimiento.hasError('required')) {
        <small>La fecha de nacimiento es obligatoria</small>
        }
        @if (formularioControles.fechaDeNacimiento.hasError('pattern')) {
        <small>Formato inválido. El formato debe ser: DD/MM/AAAA</small>
        }
    </div>
    }

    <label for="tipoDeSangre">Tipo de sangre *</label>
    <select id="tipoDeSangre" formControlName="tipoDeSangre">
        @for (tipo of tipoDeSangre; track tipo) {
        <option [value]="tipo">{{ tipo }}</option>
        }
    </select>
    @if (formularioControles.tipoDeSangre.touched && formularioControles.tipoDeSangre.invalid) {
    <div>
        @if (formularioControles.tipoDeSangre.hasError('required')) {
        <small>Seleccioná un tipo de sangre</small>
        }
    </div>
    }

    <label for="colorDeOjos">Color de ojos *</label>
    <select id="colorDeOjos" formControlName="colorDeOjos">
        @for (color of colorDeOjos; track color) {
        <option [value]="color">{{ color }}</option>
        }
    </select>
    @if (formularioControles.colorDeOjos.touched && formularioControles.colorDeOjos.invalid) {
    <div>
        @if (formularioControles.colorDeOjos.hasError('required')) {
        <small>Seleccioná un color de ojos</small>
        }
    </div>
    }

    <label for="cantidadDiasVacaciones">Días de vacaciones por año *</label>
    <input type="number" id="cantidadDiasVacaciones" formControlName="cantidadDiasVacaciones">
    @if (formularioControles.cantidadDiasVacaciones.touched && formularioControles.cantidadDiasVacaciones.invalid) {
    <div>
        @if (formularioControles.cantidadDiasVacaciones.hasError('required')) {
        <small>Este campo es obligatorio</small>
        }
        @if (formularioControles.cantidadDiasVacaciones.hasError('min')) {
        <small>La cantidad de vacaciones no puede ser negativo</small>
        }
        @if (formularioControles.cantidadDiasVacaciones.hasError('max')) {
        <small>Máximo 50 días</small>
        }
    </div>
    }


    
    <button type="submit" [disabled]="datosCompraForm.invalid">
      Siguiente
    </button>



</form>